@use "../abstracts/breakpoints" as *;

.grid {
  display: grid;

  // 1 column mobile
  grid-template-columns: repeat(2, 1fr);

  // // 4 columns large desktop
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Utility grid classes
.grid-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-knowledge {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
