@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.btn {
  padding: 12px 35px;
  border: none;
  background-color: $color-interactive-1;
  border-radius: 60px;
  font-size: $fsm-2xl;
  color: $neutral-color-00;
  text-align: center;
  cursor: pointer;
  font-weight: $fw-bold;
  font-family: $font-primary;

  &--transparent {
    background-color: rgba($color: $neutral-color-00, $alpha: 0.001);
    color: $color-interactive-1;
    border: 2px solid $color-interactive-1;
  }

  &--transparentlarge {
    background-color: rgba($color: $neutral-color-00, $alpha: 0.001);
    color: $color-interactive-1;
    border: 2px solid $color-interactive-1;
    padding: 10px 0;
    border-radius: 60px;
    width: 100%;
    font-size: $fsm-2xl;
  }

  &--primarylarge {
    margin-top: 0.8rem;
    padding: 15px 0;
    width: 330px;
    background-color: $color-interactive-1;
    color: $neutral-color-00;
    border-radius: 10px;
    font-size: $fsm-2xl;
  }
}
