@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  max-width: 185px;
  max-height: 317px;

  @include lg {
    max-width: 280px;
    max-height: 378px;
  }

  &__img {
    width: 100%;
    height: 169px;
    border-radius: 10px;
    margin: auto;
    object-fit: cover;

    @include lg {
      width: 100%;
      max-width: 280px;
      max-height: 264px;
      margin: auto;
    }
    @include xl {
      width: 100%;
      max-width: 285px;
      max-height: 264px;
      margin: auto;
    }
    @include xxl {
      width: 100%;
      max-width: 285px;
      max-height: 264px;
      margin: auto;
    }
  }

  &__title {
    font-weight: $fw-bold;
    font-size: $fsm-2xl;
    margin: 0.5rem 0;
  }

  &__details {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: 6px;

    @include lg {
      flex-direction: row;
    }

    &-label {
      color: $neutral-color-60;
      font-size: $fsm-md;
      font-weight: $fw-regular;
      margin: 0.25rem 0;
    }

    &-separator {
      display: none;

      @include lg {
        display: block;
      }
    }

    &-value {
      color: $neutral-color-01;
      font-size: $fsm-md;
      margin: 0.25rem 0;
    }
  }

  &__price {
    font-weight: $fw-bold;
    font-size: $fsm-2xl;
    transform: translateY(10px);
  }
}

.card--article {
  width: 100%;
  height: 100%;
  max-width: 380px;
  max-height: 424px;

  &__img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    margin: auto;
    object-fit: cover;
  }

  &__badge {
    background-color: $stcolor-bluesea;
    color: $neutral-color-10;
    width: 89px;
    height: 20px;
    border-radius: 10px;
    font-size: $fsm-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
  }

  &__title {
    font-weight: $fw-bold;
    font-size: $fsm-2xl;
    margin: 0.5rem;
    line-height: 1.5rem;
  }

  &__details {
    font-weight: $fw-regular;
    font-size: $fsm-l;
    margin: 0.5rem;
    line-height: 1.3rem;
  }
}
