@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.footerbgcolor {
  background-color: $color-brand-2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer {
  &__socials {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 210px;
    margin: auto;
  }

  &__logo {
    font-size: 1.5rem;
    width: 120px;
    height: 30px;
    z-index: 4;
    padding-bottom: 0.25rem;

    &--sub {
      width: 50px;
      height: 8px;
      z-index: 4;
    }
  }
}

.socialmedia-icon {
  width: 20px;
  height: 20px;
}

.divider {
  background-color: $neutral-color-40;
  width: 100%;
  height: 1px;

  margin-bottom: 2rem;
}

.termsconds {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 250px;
  margin: auto;
}

.copyright {
  color: $neutral-color-80;
  font-weight: $fw-regular;
  font-size: $fsm-l;
  text-align: center;
  padding-bottom: 0.5rem;
}
