@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.hero {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: $color-brand-2;
  padding: 0 1rem; // Mobile padding

  &__title {
    color: $color-interactive-1;
    font-size: 46px;

    @include sm {
      font-size: 4.4rem;
    }
  }

  &__subtitle {
    color: $color-interactive-1;
    font-size: 28px;
    padding-bottom: 1rem;

    @include sm {
      font-size: 3rem;
    }
  }

  &__details {
    font-size: $fsm-md;
    line-height: 1.3rem;
    padding-bottom: 1rem;

    @include sm {
      font-size: 1.2rem;
      line-height: 1.5;
      padding-bottom: 1.5rem;
    }

    @include lg {
      font-size: 1.1rem;
    }
  }

  &__img {
    padding-top: 3rem;
    width: 100%;
    position: relative;
    z-index: 3;

    @include lg {
      display: block;
      width: 500px;
      transform: translate(23rem, 1rem);
      position: relative;
      z-index: 3;
    }
  }

  &--categoryvariant {
    border-radius: 20px;
    padding: 2rem 0 0 0;

    @include lg {
      position: relative;
    }

    .hero__title,
    .hero__subtitle,
    .hero__details {
      padding: 0 1rem;

      @include lg {
        position: relative;
        transform: translate(22rem, 6rem);
        color: $neutral-color-00;
        z-index: 5;
      }
    }

    .hero__details {
      padding-top: 1rem;
    }

    .hero__img {
      padding-top: 0;

      @include lg {
        margin: 0;
        transform: translate(-1rem, 1rem);
        z-index: 2;
      }
    }

    .image {
      @include md {
        width: 44rem;
      }
    }

    .btn-cont--category {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(40px);
      padding: 0 0.5rem;

      @include lg {
        transform: translate(20rem, 8rem);
      }

      .btncategory--1 {
        @include lg {
          color: $neutral-color-00;
          border: 1px solid $neutral-color-00;
        }

        &--img {
          @include lg {
            background-color: $neutral-color-00;
          }
        }
      }

      .btncategory--2 {
        padding: 1rem 0;

        @include lg {
          background-color: $neutral-color-00;
          color: $color-interactive-1;
        }
      }
    }

    .squaredesign {
      border-radius: 0;

      &__bottom {
        display: none;

        &--darkblue {
          display: block;
          top: 350px;
          left: -50px;
          transform: rotate(5deg);

          @include sm {
            top: 500px;
          }

          @include md {
            width: 800px;
          }

          @include lg {
            width: 1000px;
            height: 1200px;
            transform: rotate(-20deg);
            top: -1rem;
            left: 20rem;
            border-radius: 100px;
            position: absolute;
            z-index: 1;
          }
        }
      }
      &__tinysquares {
        display: none;

        &--darkblue {
          display: block;
          top: 100px;
          right: 70px;
          width: 18px;
          height: 18px;

          @include sm {
            top: 145px;
          }

          @include md {
            left: 32.5rem;
          }
        }
      }
    }
  }
}

.hero__btn {
  font-weight: $fw-regular;
  padding: 0.8rem 0;

  &--img {
    width: 20px;
    height: 20px;
    transform: translateX(10px);
  }

  &--marginfix {
    margin-right: 1.1rem;
  }

  @include sm {
    font-size: 1.5rem;
  }

  @include lg {
    font-size: 1.2rem;
  }
}

.squaredesign {
  border-radius: 62px;
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;

  &__bottom {
    width: 500px;
    height: 500px;
    bottom: -12rem;
    right: -12rem;
    transform: rotate(20deg);
    background-color: $color-brand-1;
    z-index: 2;

    @include sm {
      width: 800px;
      height: 800px;
      bottom: -20rem;
    }

    @include md {
      bottom: -25rem;
      left: 15rem;
    }

    @include lg {
      bottom: -16rem;
      left: 30rem;
    }

    &--darkblue {
      background-color: $color-interactive-1;
      bottom: -13rem;
      left: 4rem;
      transform: rotate(1deg);
      z-index: 1;

      @include sm {
        width: 700px;
        height: 700px;
        bottom: -16rem;
        left: 1rem;
        transform: rotate(4deg);
      }

      @include md {
        bottom: -20rem;
        left: 10rem;
      }

      @include lg {
        bottom: -11rem;
        left: 30rem;
      }
    }
  }

  &__tinysquares {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;

    &--nearfun {
      background-color: $color-brand-1;
      top: 59px;
      right: 100px;

      @include sm {
        top: 115px;
        right: 120px;
      }

      @include md {
        right: 230px;
      }

      @include lg {
        top: 60px;
        right: 240px;
      }
    }

    &--darkblue {
      background-color: $color-interactive-1;
      top: 65px;
      right: 103px;
      z-index: 1;
      width: 16px;
      height: 16px;
      transform: rotate(-15deg);

      @include sm {
        top: 120px;
        right: 125px;
      }

      @include md {
        right: 235px;
      }

      @include lg {
        top: 65px;
        right: 245px;
      }
    }

    &--neard {
      background-color: $color-brand-1;
      top: 42px;
      right: 60px;
      width: 16px;
      height: 16px;
      transform: rotate(15deg);

      @include sm {
        top: 70px;
        right: 95px;
      }

      @include md {
        right: 223px;
        top: 65px;
      }

      @include lg {
        top: 0;
        position: absolute;
      }
    }
  }
}

.image {
  position: relative;

  @include md {
    margin: auto;
  }

  @include lg {
    width: 700px;
  }
}

.hero-desktop-adjust {
  @include lg {
    width: 550px;
    transform: translateX(1.5rem);
    position: relative;
    z-index: 2;
  }
}

.hero-bottom-desktop-square {
  display: none;
  @include lg {
    position: absolute;
    display: block;
    border-radius: 62px;
    width: 400px;
    height: 400px;
    background-color: $color-brand-1;
    bottom: -22rem;
    left: -2rem;
    transform: rotate(-35deg);
  }
}
