@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.hero {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: $color-brand-2;

  &__title {
    color: $color-interactive-1;
    font-size: 46px;
  }

  &__subtitle {
    color: $color-interactive-1;
    font-size: 28px;
    padding-bottom: 1rem;
  }

  &__details {
    font-size: $fsm-md;
    line-height: 1.3rem;
    padding-bottom: 1rem;
  }

  &__img {
    padding-top: 3rem;
    width: 100%;
  }
}

.hero__btn {
  font-weight: $fw-regular;

  &--img {
    width: 20px;
    height: 20px;
    transform: translateX(10px);
  }

  &--marginfix {
    margin-right: 1.1rem;
  }
}

.squaredesign {
  border-radius: 62px;
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;

  &__bottom {
    width: 500px;
    height: 500px;
    bottom: -12rem;
    right: -12rem;
    transform: rotate(20deg);
    background-color: $color-brand-1;
    z-index: 2;

    &--darkblue {
      background-color: $color-interactive-1;
      bottom: -13rem;
      left: 4rem;
      transform: rotate(1deg);
      z-index: 1;
    }
  }

  &__tinysquares {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;

    &--nearfun {
      background-color: $color-brand-1;
      top: 59px;
      right: 100px;
    }

    &--neard {
      background-color: $color-brand-1;
      top: 42px;
      right: 60px;
      width: 16px;
      height: 16px;
      transform: rotate(15deg);
    }
    &--darkblue {
      background-color: $color-interactive-1;
      top: 65px;
      right: 103px;
      z-index: 1;
      width: 16px;
      height: 16px;
      transform: rotate(-15deg);
    }
  }
}

.image {
  z-index: 3;
}
