@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;

.input {
  padding: 18px 30px;
  width: 330px;
  border-radius: 10px;
  outline: none;

  @include md {
    width: 800px;
  }

  &__group {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.3s ease;

    &--active {
      opacity: 1;
      transform: translateY(20px);
      pointer-events: auto;
    }
  }
}

.input--desktop {
  display: none;

  @include lg {
    display: block;
    width: 160px;
    padding: 14px 40px;
    border-radius: 10px;
    outline: none;
  }
}
