@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.navbar {
  padding: 1rem;
  position: relative;
  z-index: 1;
  font-family: $font-primary;
  background-color: $color-brand-2;
  width: 100%;

  @include lg {
    // Desktop: separate, fixed at top
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 0;
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 102;

    @include lg {
      display: none;
    }

    &--search {
      display: none;
      @include lg {
        display: block; // Show search icon on desktop
        position: absolute;
        transform: translateX(-6rem);
      }
    }
  }

  &__toggle-icon {
    width: 28px;
    height: 28px;
    color: $neutral-color-01;

    &--desktop {
      width: 15px;
      height: 15px;
    }
  }

  &__logo {
    font-size: 1.5rem;
    width: 92px;
    height: 22px;
    z-index: 2000;

    &--sub {
      width: 42px;
      height: 6px;
    }

    @include lg {
      color: var(--color-primary);
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1;

    &--active {
      transform: translateX(0);
    }

    @include lg {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      gap: 2rem;
      transform: none;
      background: none;
      z-index: auto;
      transform: translate(3.4rem, -2rem);
    }
  }

  &__link {
    font-size: 1.75rem;
    font-weight: $fw-medium;
    color: black;
    text-decoration: none;

    @include lg {
      font-size: 1rem;
    }
  }

  &__flag {
    display: none;
    @include lg {
      display: block;
      width: 1rem;
      height: 1rem;
    }
  }
}

.input--desktop {
  display: none;

  @include lg {
    display: block;
    width: 145px;
    padding: 14px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
}

.dropdown {
  display: none;

  @include lg {
    display: block;
    position: relative;
  }

  button {
    display: none;
    @include lg {
      display: block;
      border: none;
      outline: none;
      background-color: $neutral-color-00;
    }

    span {
      padding-right: 0.5rem;
    }
  }

  &__menu {
    @include lg {
      position: absolute;
      right: 20px;

      li {
        list-style: none;
      }
    }
  }
}

.btn--navbar {
  font-size: $fsm-2xl;
}

.squaredesign {
  border-radius: 62px;
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;

  &__top {
    background-color: $color-brand-1;
    top: -21.5rem;
    left: -3rem;
    transform: rotate(20deg);
  }
}
