@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.navbar {
  padding: 1rem;
  position: relative;
  z-index: 1;
  font-family: $font-primary;
  background-color: $color-brand-2;
  width: 100%;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 102;

    // hamburger
    @include lg {
      display: none;
    }

    &--search {
      display: none;
      @include lg {
        display: block; // Show search icon on desktop
        position: absolute;
        transform: translateX(-0.1rem);
        top: 0.2rem;
        left: 0.2rem;
      }
    }
  }

  &__toggle-icon {
    @include lg {
      color: $neutral-color-01;
    }
  }

  &__logo {
    font-size: 1.5rem;
    width: 92px;
    height: 22px;
    z-index: 4;
    padding-bottom: 0.25rem;

    @include sm {
      width: 125px;
      height: 35px;
    }

    @include lg {
      width: 85px;
      height: 25px;
      transform: translateX(30px);
    }

    &--sub {
      width: 42px;
      height: 6px;
      z-index: 4;

      @include sm {
        width: 80px;
        height: 10px;
      }

      @include lg {
        width: 40px;
        height: 6px;
        transform: translateX(30px);
      }
    }
  }

  &__menu {
    position: relative;
    display: none;

    @include lg {
      display: flex;
      gap: 2rem;
      z-index: 2;
      top: -1.6rem;
      left: 9.3rem;

      width: 850px;

      .navbar__link {
        font-size: 0.8rem;
      }
    }

    &--active {
      transform: translateX(0);
    }
  }

  &__link {
    font-size: 1.75rem;
    font-weight: $fw-medium;
    color: black;
    text-decoration: none;
  }

  &__flag {
    display: none;

    @include lg {
      display: block;
      width: 13px;
      height: 13px;
    }
  }

  &--transparent {
    background-color: $neutral-color-10;
    padding: 1rem 1rem 0 1rem;

    @include lg {
      height: 110px;
    }

    .squaredesign {
      background-color: $neutral-color-10;
    }
  }
}

.input--desktop {
  display: none;

  @include lg {
    display: block;
    width: 12rem;
    border-radius: 15px;
    padding-left: 2rem;
    outline: none;
    border: none;
    font-size: 0.6rem;
  }
}

.dropdown {
  display: none;

  @include lg {
    display: block;
    padding: 0.5rem;
  }

  button {
    display: block;
    background-color: $color-brand-2;
    outline: none;
    border: none;
  }
}

.btn--navbar {
  font-size: $fsm-2xl;
}

.squaredesign {
  border-radius: 62px;
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;

  &__top {
    background-color: $color-brand-1;
    top: -22.5rem;
    left: -4.5rem;
    transform: rotate(20deg);

    @include sm {
      left: 4rem;
      top: -21rem;
      width: 900px;
      height: 900px;
      transform: rotate(18deg);
    }

    @include md {
      left: 7rem;
    }

    @include lg {
      left: -12rem;
      top: -22rem;
    }
  }
}

.navbar--hidden {
  .navigationref {
    display: none;
  }
}

.adjustment-align {
  @include lg {
    transform: translateY(-0.5rem);
  }
}

.navbar__dropdowncontainer {
  @include lg {
    position: relative;
    right: 0.5rem;
    top: -0.3rem;
  }
}
