// buttons
$color-interactive-1: #003459;
$color-interactive-2: #0078cd;
$color-interactive-3: #00528c;
$color-interactive-4: #002a48;

// brand main color
$color-brand-1: #f7dba7;
$color-brand-2: #fceed5;
$color-brand-3: #f1d092;
$color-brand-4: #eec77e;

// state colors
$stcolor-pinkred: #ff564f;
$stcolor-greenlight: #34c759;
$stcolor-orangeshine: #ff912c;
$stcolor-bluesea: #00a7e7;

// neutral color
$neutral-color-01: #00171f;
$neutral-color-80: #242b33;
$neutral-color-60: #667479;
$neutral-color-40: #99a2a5;
$neutral-color-20: #ccd1d2;
$neutral-color-10: #ebeeef;
$neutral-color-00: #fdfdfd;
