// Typography
$font-primary:
  "Gilroy",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Font sizes mobile
$fsm-xsm: 0.5rem;
$fsm-sm: 0.625rem;
$fsm-md: 0.75rem;
$fsm-l: 0.875rem;
$fsm-2xl: 1rem;
$fsm-3xl: 1.25rem;

// Font sizes tablet, desktop wide

$fs-xsm: 1.5rem;
$fs-sm: 1.75rem;
$fs-md: 2.25rem;
$fs-l: 2.875rem;
