@use "../../abstracts/breakpoints" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/variables" as *;

.about {
  text-align: center;
  border-radius: 20px;
  background-color: $color-brand-2;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  background-color: $color-interactive-1;

  &__title {
    color: $color-interactive-1;
    font-size: 46px;
    padding-top: 2rem;
    position: relative;
    z-index: 2;

    @include sm {
      font-size: 4.4rem;
    }

    @include lg {
    }
  }

  &__subtitle {
    color: $color-interactive-1;
    position: relative;
    font-size: 28px;
    padding-bottom: 1rem;
    z-index: 2;

    @include sm {
      font-size: 3rem;
    }
  }

  &__details {
    font-size: $fsm-md;
    line-height: 1.3rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 2;

    @include sm {
      font-size: 1.4rem;
      line-height: 1.9rem;
      padding-bottom: 1.5rem;
    }
  }

  &__img {
    padding-top: 3rem;
    width: 100%;

    .aboutimgdog {
      position: relative;

      @include md {
        margin: auto;
      }

      @include lg {
        margin: 0;
        transform: translateX(-3rem);
        z-index: 2;
      }
    }
  }
}

.about__btn {
  font-weight: $fw-regular;
  z-index: 2;
  padding: 0.8rem 0;

  @include sm {
    font-size: 1.3rem;
  }

  @include md {
    padding: 1.2rem;
  }

  &--img {
    width: 20px;
    height: 20px;
    transform: translateX(10px);
  }

  &--marginfix {
    margin-right: 1.1rem;
  }
}

.squaredesign__about {
  border-radius: 80px;
  width: 500px;
  height: 450px;
  z-index: 1;
  position: absolute;
  top: -90px;
  right: -50px;
  transform: rotate(12deg);
  background-color: $color-brand-2;

  @include sm {
    width: 750px;
    height: 650px;
    top: -130px;
    right: -100px;
  }

  @include md {
    width: 1000px;
    top: -160px;
    right: -80px;
  }

  @include lg {
    right: -20rem;
    top: 1rem;
    transform: rotate(60deg);
    width: 1000px;
    height: 1000px;
  }
}

.desktop-positioning-info {
  @include lg {
    position: relative;

    width: 550px;
    transform: translate(22rem, 10rem);
    z-index: 3;
  }
}
