@use "../../abstracts/breakpoints" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/variables" as *;

.about {
  text-align: center;
  border-radius: 20px;
  background-color: $color-brand-2;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  background-color: $color-interactive-1;

  &__title {
    color: $color-interactive-1;
    font-size: 46px;
    padding-top: 2rem;
    position: relative;
    z-index: 2;
  }

  &__subtitle {
    color: $color-interactive-1;
    position: relative;
    font-size: 28px;
    padding-bottom: 1rem;
    z-index: 2;
  }

  &__details {
    font-size: $fsm-l;
    line-height: 1.3rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 2;
  }

  &__img {
    padding-top: 3rem;
    width: 100%;
  }
}

.about__btn {
  font-weight: $fw-regular;
  z-index: 2;

  &--img {
    width: 20px;
    height: 20px;
    transform: translateX(10px);
  }

  &--marginfix {
    margin-right: 1.1rem;
  }
}

.squaredesign__about {
  border-radius: 80px;
  width: 500px;
  height: 450px;
  z-index: 1;
  position: absolute;
  top: -60px;
  right: -50px;
  transform: rotate(12deg);
  background-color: $color-brand-1;
}
