@use "../../abstracts/breakpoints" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/variables" as *;

.navigationref {
  &--hidden {
    display: none;
  }
  &--show {
    display: flex;
    gap: 15px;
    transform: translateY(-1.6rem);
    position: relative;
    font-size: $fsm-l;
    z-index: 1;

    a,
    p {
      z-index: 3rem;
      position: relative;
    }
  }

  &--petdetails {
    display: flex;
    gap: 13px;
    font-size: $fsm-md;
    padding-left: 0;
    padding-top: 1rem;
    color: $neutral-color-60;

    a {
      color: $neutral-color-60;
    }

    .navrefchevright {
      font-size: 1.1rem;
      transform: translateY(-4.5px);
    }
  }
}
