@use "../../abstracts/breakpoints" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/variables" as *;

.petlist {
  &__subtitle {
    font-weight: $fw-regular;
    padding-top: 2.5rem;
  }

  &__title {
    padding-top: 0.3rem;
    padding-bottom: 1.6rem;
    color: $color-interactive-1;
    font-weight: $fw-semibold;
    font-size: $fsm-3xl;
  }

  &__cards {
    padding-bottom: 1rem;
  }
}

.chevron {
  font-size: 20px;
  padding-left: 0.5rem;
}
