@use "../../abstracts/breakpoints" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/variables" as *;

.petlist {
  &__subtitle {
    font-weight: $fw-regular;
    padding-top: 2.5rem;
  }

  &__title {
    padding-top: 0.3rem;
    padding-bottom: 1.6rem;
    color: $color-interactive-1;
    font-weight: $fw-semibold;
    font-size: $fsm-3xl;
  }

  &__cards {
    padding-bottom: 1rem;
  }

  .pageindex {
    display: none;
  }

  &--category {
    .petlist__subtitle {
      font-size: $fsm-md;
      transform: translate(6.5rem, 1.6rem);
      padding-top: 0;
    }

    .btn-petlist {
      display: none;
    }
  }

  &--category-2 {
    .petlist__subtitle {
      padding: 0;
    }
    .petlist__title {
      padding: 0;
    }

    .btn-petlist {
      display: none;
    }

    .pageindex {
      display: flex;
      width: 80%;
      margin: auto;

      padding: 1.5rem 0;

      &--selected {
        background-color: $color-interactive-1;
        padding: 0.3rem 0.8rem;
        color: $neutral-color-00;
        border-radius: 8px;
      }
    }
  }
}

.chevron {
  font-size: 20px;
  padding-left: 0.5rem;
}
